
{% import "select_option.html" as  select_option %}
  <div id="AddTodo" class="form-modal-overlay">
    <!-- Modal Box -->
    <div class="modal-box">
        <h2 class="modal-title">Add Todo</h2>
        <button onclick="closeModal('AddTodo')" class="modal-close-button">
          &times;
        </button>
      <form onsubmit="return false;">
        <div class="form-group" method="POST">
          <label class="form-label" for="title">Title</label>
          <input type="text" name="title" id="title" class="form-input" required />
        </div>
  
        <div class="fohomerm-group">
          <label class="form-label" for="priority">Priority</label>
          {{ select_option.drop_down(priority_options, 'priority', 'priority') }}
        </div>
  
        <div class="form-group">
          <label class="form-label" for="status">Status</label>
          {{ select_option.drop_down(status_options, 'status', 'status') }}
        </div>
  
        <div class="form-group">
          <label class="form-label" for="description">Description</label>
          <textarea name="description" id="description" class="form-textarea"></textarea>
        </div>
  
        <div class="modal-footer">
          <button type="button" onclick="closeModal('AddTodo')" class="btn">
            Close
          </button>
          <!-- Button triggers POST with JSON -->
          <button 
            class="btn" 
            hx-post="{{ url_for('add_todo') }}" 
            hx-trigger="click"
            hx-ext="json-enc"
            hx-headers='{"Content-Type": "application/json"}' 
            hx-vals='js:{
            "title": document.getElementById("title").value,
            "description": document.getElementById("description").value,
            "priority": document.getElementById("priority").value,
            "status": document.getElementById("status").value
            }' 
            hx-target="#AddTodo" 
            hx-swap="none"
            >
            Add Todo
          </button>
  
        </div>
      </form>
    </div>
  </div>