.login-header {
    position:fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #2D3748; 
    color: #E2E8F0; /* Text Color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.login-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}