{% extends "base.html" %}
{% load ui_components %}

{% block title %}My Data Table{% endblock %}

{% block content %}
<div class="section-card">
  <div class="section-header">
    <button onclick="openModal('AddTodo')" class="btn btn-primary">Add</button>
    <h2 class="section-title">Todo's</h2>
  </div>

  {% include 'add_todo.html' %}

  <div class="todo-table-container">
    <table class="todo-table">
        <thead class="todo-table-header">
            <tr>
                <th class="todo-table-header-cell">Title</th>
                <th class="todo-table-header-cell">Priority</th>
                <th class="todo-table-header-cell">Status</th>
                <th class="todo-table-header-cell">Description</th>
                <th class="todo-table-header-cell">Actions</th>
            </tr>
        </thead>
        <tbody class="todo-table-body">
            {% for item in data %}
            <tr class="todo-table-row">
                <td class="todo-table-cell">{{ item.title }}</td>
                <td class="todo-table-cell">{{ item.priority }}</td>
                <td class="todo-table-cell">{{ item.status }}</td>
                <td class="todo-table-cell">{{ item.description }}</td>
                <td class="todo-table-cell">
                    {% edit_todo_modal item priority_options status_options %}
                    {% include 'delete_todo.html' %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="todo-table-empty-message">No data available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}